@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
@layer components {
    .aside-scroll::-webkit-scrollbar {
        @apply h-1 w-1;
    }
    .aside-scroll::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-slate-200 dark:bg-gray-600;
    }
    .aside-scroll::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-300/70 dark:bg-gray-500;
    }
    .badge {
        @apply relative after:absolute after:-right-[2px] after:-top-[3px] after:flex after:h-4 after:w-4 after:items-center after:justify-center after:rounded-full after:bg-red-500 after:text-xs after:font-semibold after:text-white;
    }
    .active-status {
        @apply relative after:absolute after:bottom-0 after:right-0 after:h-[10px] after:w-[10px] after:rounded-full after:bg-green-500 after:ring-2 after:ring-white dark:after:ring-dark-background;
    }
    .modal-dropshadow {
        @apply fixed bottom-0 left-0 right-0 top-0 bg-neutral-300/40 dark:bg-neutral-700/60;
    }
    .toggle__dot {
        @apply -top-[2.5px] left-0 transition-all duration-300 ease-in-out;
    }

    input:checked ~ .toggle__dot {
        @apply left-0 translate-x-full bg-emerald-400;
    }
}
